/target
/cache

*.bat
*.mp3
*.txt
*.png
*.jpg
*.db
*.py
*.env
*.json
*.ndjson
*.tar

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

desktop/src-tauri/gen/schemas/

!package.json
!package-lock.json
!tauri.conf.json
!desktop/src-tauri/capabilities/*.json
!desktop/src-tauri/icons/*
!desktop/src/assets/*